@(bills: Seq[BillManagement.BillListItem])(implicit ctx: AuthRequestContext)
@import scala.math.BigDecimal.RoundingMode
@import tools.Formatters._
@template("Счета на товары") {
    <style>
    .table > tbody > tr > td.print-buttons {
        padding: 1px;
    }
    </style>
    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>Дата</th>
                <th>Номер</th>
                <th>Организация</th>
                <th>Поставщик</th>
                <th>Заказ</th>
                <th>Сумма</th>
                <th>Оплачено (%)</th>
                <th>Печать</th>
                <th>Комментарий</th>
            </tr>
            @for(bill <- bills) {
                <tr>
                    <td>@date(bill.date)</td>
                    <td>@bill.number</td>
                    <td>@bill.orgUnit</td>
                    <td>@bill.supplier</td>
                    <td>
                        @if(bill.orderId == None) {
                            ---
                        } else {
                            <a href="@routes.CustomerOrdersManagement.properties(bill.orderId.get)">@bill.orderNumber.get</a>
                        }
                    </td>
                    <td>@currency(bill.sum)</td>
                    <td>@{(bill.paid*100/bill.sum).setScale(0, RoundingMode.FLOOR)}</td>
                    <td class="print-buttons">
                        <a href="@routes.BillManagement.form(bill.id)" target="_blank" class="btn btn-default">
                            <span class="glyphicon glyphicon-print"></span>&nbsp;Cчет
                        </a>
                    </td>
                    <td>@bill.comment</td>
                </tr>
            }
        </table>
    </div>
}