@(inputName: String, labelTitle: String)(inputHtml: Html)
    <div class="form-group">
        <label for="@inputName" class="col-sm-3 control-label">@labelTitle</label>
        <div class="col-sm-9">
        @inputHtml
        </div>
    </div>
