@(supplierItems: Seq[(model.Item, Int, BigDecimal)], receiptItems: Map[Int, model.GoodsReceipts.GoodsReceiptItem])
@import tools.Formatters._
<table class="table table-hover">
    <tr>
        <th>Наименование</th>
        <th>Количество</th>
        <th>Ед. изм.</th>
        <th>Цена</th>
        <th>Сумма</th>
    </tr>
    @for(supplierItem <- supplierItems) {
        <tr data-item-id="@supplierItem._2">
            <td>@supplierItem._1.name</td>
            <td class="input-cell">
                <input type="text" class="form-control input-quantity" data-item-id="@supplierItem._2"
                value="@quantity(receiptItems(supplierItem._2).quantity, zeroEmpty = true)"/>
            </td>
            <td class="input-cell uom-cell">@supplierItem._1.uom</td>
            <td class="input-cell">
                <input type="text" class="form-control input-price" data-item-id="@supplierItem._2"
                value="@currency(receiptItems(supplierItem._2).price, zeroEmpty = true)"/>
            </td>
            <td class="input-cell sum-cell">@currency(receiptItems(supplierItem._2).price * receiptItems(supplierItem._2).quantity, zeroEmpty = true)</td>
        </tr>
    }
    <tr>
        <td>ИТОГО:</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td id="totalSum" class="sum-cell">@currency(if(receiptItems.values.isEmpty) BigDecimal(0) else receiptItems.values.map(it => it.price * it.quantity).reduce(_ + _))</td>
    </tr>
</table>
