@(writeoff: model.GoodsWriteoffs.GoodsWriteoff, items: Seq[(model.GoodsWriteoffs.GoodsWriteoffItem, model.Item)],
        orgUnits: Seq[model.IdName])(implicit ctx: AuthRequestContext)
@import model.DocumentStatus
@import tools.Formatters._
@template("Списание товаров", scripts = Seq(routes.Assets.at("js/goodsWriteoff.js").url, routes.Assets.at("js/select2.min.js").url,
    routes.Assets.at("js/select2_locale_ru.js").url), styleSheets = Seq(routes.Assets.at("css/select2.css").url),
    metaVals = Seq("itemListUrl" -> routes.GoodsWriteoffManagement.itemList("").url,
                   "newLineUrl" -> routes.GoodsWriteoffManagement.itemLine(0).url.dropRight(1))) {
    <style>
        input.input-quantity {
            width: 12em;
            text-align: right;
        }
        .input-item {
            width: 30em;
        }
        .action-column {
            width: 2em;
        }
        span.remove-item-action {
            cursor: pointer;
        }
    </style>
    <form role="form" action="@routes.GoodsWriteoffManagement.saveWriteoff()" method="post" autocomplete="off">
        @if(writeoff.idOpt != None) {
            <input name="id" type="hidden" value="@writeoff.idOpt" />
        }
        <div class="row">
            <div class="col-lg-6">
                @formInputBlock("orgUnit", "Организация") {
                    @selectInput("orgUnit", orgUnits, writeoff.orgUnitId)
                }
            </div>
            <div class="col-lg-6">
                @formInputBlock("comment", "Комментарий") {
                    <input id="comment" name="comment" class="form-control" value="@writeoff.comment">
                }
            </div>
        </div>
        <br>
        <input id="writeoffItems" name="writeoffItems" type="hidden" />

        <div class="table-responsive">
            <table class="table table-hover">
                <tr>
                    <th class="action-column">&nbsp;</th>
                    <th>Товар</th>
                    <th>Ед. изм.</th>
                    <th>Количество</th>
                </tr>
                @goodsWriteoffItems(items)
                @if(writeoff.postedNumber == None) {
                    <tr id="newItemTableRow">
                        <td class="action-column"><span class="glyphicon glyphicon-plus new-item-action"></span></td>
                        <td>
                            <input id="newItemInput" class="input-item" type="hidden"/>
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                }
            </table>
        </div>
        <input id="commit" type="hidden" name="commit">
        @if(writeoff.status == DocumentStatus.Draft) {
            <button type="submit" class="btn btn-primary">Сохранить</button>
            @if(writeoff.idOpt != None) {
                <a class="btn btn-primary" href="@routes.GoodsWriteoffManagement.delete(writeoff.idOpt.get)">Удалить</a>
            }
            <button id="commitButton" type="button" class="btn btn-primary">Отправить</button>
        }
    </form>
}