@(receipts: Seq[GoodsReceiptManagement.ReceiptListItem])(implicit ctx: AuthRequestContext)
    @import tools.Formatters._
    @import views.Tools
    @template("Поступления товаров", goodsReceiptsActions()) {
        <div class="table-responsive">
            <table class="table table-hover">
                <tr>
                    <th>&nbsp;</th>
                    <th>Дата</th>
                    <th>Номер</th>
                    <th>Поставщик</th>
                    <th>Покупатель</th>
                    <th>Сумма</th>
                </tr>
                @for(receipt <- receipts) {
                    <tr>
                        <td><span class="glyphicon glyphicon-@Tools.orderStatusIcon(receipt.status)"></span></td>
                        <td><a href="@routes.GoodsReceiptManagement.editReceipt(receipt.id)">@date(receipt.created)</a></td>
                        <td>@receipt.number.getOrElse("---")</td>
                        <td>@receipt.supplier</td>
                        <td>@receipt.orgUnit</td>
                        <td>@currency(receipt.sum)</td>
                    </tr>
                }
            </table>
        </div>
    }
