@(listItems: Seq[GoodsWriteoffManagement.WriteoffListItem])(implicit ctx: AuthRequestContext)
@import tools.Formatters._
@import views.Tools
@template("Списания товаров", goodsWriteoffsActions()) {
    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>&nbsp;</th>
                <th>Дата</th>
                <th>Номер</th>
                <th>Организация</th>
            </tr>
            @for(writeoff <- listItems) {
                <tr>
                    <td><span class="glyphicon glyphicon-@Tools.orderStatusIcon(writeoff.status)"></span></td>
                    <td><a href="@routes.GoodsWriteoffManagement.editWriteoff(writeoff.id)">@date(writeoff.created)</a></td>
                    <td>@writeoff.postedNumber.getOrElse("---")</td>
                    <td>@writeoff.orgUnit</td>
                </tr>
            }
        </table>
    </div>
}