@(items: Seq[(model.GoodsWriteoffs.GoodsWriteoffItem, model.Item)])
@import tools.Formatters.quantity
@for(item <- items) {
    <tr data-item-id="@item._1.itemId">
        <td class="action-column"><span class="glyphicon glyphicon-remove remove-item-action"></span></td>
        <td>@item._2.name</td>
        <td>@item._2.uom</td>
        <td class="input-cell">
            <input class="form-control input-quantity" value="@quantity(item._1.quantity, zeroEmpty = true)">
        </td>
    </tr>
}
