@(receipt: model.GoodsReceipts.GoodsReceipt, receiptItems: Map[Int, model.GoodsReceipts.GoodsReceiptItem],
        orgUnits: Seq[model.OrgUnits.OrgUnit], suppliers: Seq[model.OrgUnits.OrgUnit],
        supplierItems: Seq[(model.Item, Int, BigDecimal)])(implicit ctx: AuthRequestContext)
    @import tools.Formatters.date
    @import model.DocumentStatus
    @template(title = "Поступление товаров", metaVals = Seq("itemUrl" -> routes.GoodsReceiptManagement.receiptItemsTable(0).url.dropRight(1)),
        scripts = Seq("http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js",
            routes.Assets.at("js/datepickers.js").url, routes.Assets.at("js/goodsReceipt.js").url),
        styleSheets = Seq(routes.Assets.at("css/calendar.css").url)) {
        <style>
        .input-price,.input-quantity,.sum-cell {
            text-align : right ;
            width : 12em ;
        }
        .uom-cell {
            text-align : center ;
        }
        </style>
        <form role="form" class="form-horizontal" action="@routes.GoodsReceiptManagement.saveReceipt()" method="post" autocomplete="off">
            @if(receipt.idOpt != None) {
                <input name="id" type="hidden" value="@receipt.idOpt" />
            }
            <div class="row">
                <div class="col-lg-6">
                    @formInputBlock("orgUnit", "Организация") {
                        @selectInput("orgUnit", orgUnits, receipt.orgUnitId)
                    }
                    @formInputBlock("supplier", "Поставщик") {
                        @selectInput("supplier", suppliers, receipt.supplierId)
                    }
                    @formInputBlock("comment", "Комментарий") {
                        <input id="comment" name="comment" class="form-control" type="text" value="@receipt.comment"/>
                    }
                </div>
                <div class="col-lg-6">
                    @formInputBlock("waybillNumber", "Номер накладной") {
                        <input id="waybillNumber" name="waybillNumber" class="form-control" type="text" value="@receipt.waybillNumber"/>
                    }
                    @formInputBlock("waybillDate", "Дата накладной") {
                        <input id="waybillDate" name="waybillDate" class="form-control" type="date" value="@receipt.waybillDate.map(date)"/>
                    }
                    @formInputBlock("invoiceNumber", "Номер счет-фактуры") {
                        <input id="invoiceNumber" name="invoiceNumber" class="form-control" type="text" value="@receipt.invoiceNumber"/>
                    }
                    @formInputBlock("invoiceDate", "Дата счет-фактуры") {
                        <input id="invoiceDate" name="invoiceDate" class="form-control" type="date" value="@receipt.invoiceDate.map(date)"/>
                    }
                </div>
            </div>
            <input id="receiptItems" name="receiptItems" type="hidden" />
            <div id="receiptItemsTable" class="table-responsive">
            @goodsReceiptItems(supplierItems, receiptItems)
            </div>
            <input id="commit" type="hidden" name="commit">
            @if(receipt.status == DocumentStatus.Draft) {
                <button type="submit" class="btn btn-primary">Сохранить</button>
                @if(receipt.idOpt != None) {
                    <a class="btn btn-primary" href="@routes.GoodsWriteoffManagement.delete(receipt.idOpt.get).url">Удалить</a>
                }
                <button id="commitButton" type="button" class="btn btn-primary">Отправить</button>
            }
        </form>
    }