@(rows: Seq[controllers.IncomeReportController.IncomeReportRow], period: model.ReportingPeriod,
        years: Seq[Int], periods: Seq[Int], orgUnitId: Int, orgUnits: Seq[model.IdName])(implicit ctx: AuthRequestContext)
@import tools.Formatters._
@template("Выручка", scripts = Seq(routes.Assets.at("js/incomeReport.js").url),
    metaVals = Seq("updateUrl" -> routes.IncomeReportController.updateIncomeReport().url)) {
    <form class="form-inline" method="get">
        <div class="form-group">
            <label for="orgUnitId">Кафе</label>
            <select name="orgUnitId" id="orgUnitId">
                @for(ou <- orgUnits) {
                    @if(ou.id == orgUnitId) {
                        <option value="@ou.id" selected>@ou.name</option>
                    } else {
                        <option value="@ou.id">@ou.name</option>
                    }
                }
            </select>
        </div>
        <div class="form-group">
            <label for="year">Год</label>
            <select name="year" id="year">
                @for(year <- years) {
                    @if(year == period.year) {
                        <option value="@year" selected>@year</option>
                    } else {
                        <option value="@year">@year</option>
                    }
                }
            </select>
        </div>
        <div class="form-group">
            <label for="period">Период</label>
            <select name="period" id="period">
                @for(periodNr <- periods) {
                    @if(periodNr == period.number) {
                        <option value="@periodNr" selected>@periodNr</option>
                    } else {
                        <option value="@periodNr">@periodNr</option>
                    }
                }
            </select>
        </div>
    </form>
    <div class="table-responsive">
        <style>
        input,.number-cell {
            text-align: right;
        }
        table>tbody>tr>td.input-cell {
            padding: 1px;
            width: 12em;
        }
        </style>
        <table class="table table-hover">
            <tr>
                <th>Дата</th>
                @for(i <- 1 to rows.head.items.size) {
                    <th>Выручка (@i)</th>
                    <th>Чеков (@i)</th>
                }
            </tr>
            @for(row <- rows) {
                <tr>
                <td style="width: 12em;">@date(row.date)</td>
                @for(item <- row.items) {
                    @if(item.editable) {
                        <td class="input-cell">
                            <input class="form-control sum" data-row-date="@date(row.date)" data-pos-number="@item.posNumber" value="@currency(item.income)"/>
                        </td>
                    } else {
                        <td class="number-cell">@currency(item.income)</td>
                    }
                    @if(item.editable) {
                        <td class="input-cell">
                            <input class="form-control count" data-row-date="@date(row.date)" data-pos-number="@item.posNumber" value="@(item.count)"/>
                        </td>
                    } else {
                        <td class="number-cell">@(item.count)</td>
                    }
                }
                </tr>
            }
        </table>
    </div>
}