@()(implicit ctx: controllers.AuthRequestContext)
@template("BackOffice") {
    <div class="row">
        <div class="col-sm-10 col-md-6 col-lg-4 sidebar">
            <ul class="nav nav-sidebar">
                @tabs()
            </ul>
        </div>
    </div>
}
