@()(implicit ctx: AuthRequestContext)
@template("Выполните вход в систему") {
    <form class="form-horizontal" action="@routes.Authentication.doLogin()" method="post">
        <div class="form-group">
            <label for="login" class="col-md-2 control-label">Логин</label>
            <div class="col-md-4">
              <input id="login" type="text" name="login" class="form-control" placeholder="Логин" required autofocus>
            </div>
        </div>
        <div class="form-group">
            <label for="pwd" class="col-md-2 control-label">Пароль</label>
            <div class="col-md-4">
                <input id="pwd" type="password" name="password" class="form-control" placeholder="Пароль" required>
            </div>
        </div>
        <div class="col-md-2 col-md-offset-2">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
        </div>
    </form>
}