@(call: Call, title: String)(implicit ctx: AuthRequestContext)
@if(ctx.request.uri.equals(call.url)) {
    <li class="active"><a href="@call">@title</a></li>
} else {
    <li><a href="@call">@title</a></li>
}
