@(rootPath: Seq[model.IdName], childGroups: Seq[model.IdName], items: Seq[CustomerOrdersManagement.OrderItemViewModel],
        orderId: Int, customerName: String, supplierName: String, orderSum: BigDecimal)(implicit ctx: AuthRequestContext)
@import tools.Formatters._
@template("Выбор товаров", scripts = Seq(routes.Assets.at("js/orderItemCatalog.js").url),
    metaVals = Seq("updateAmountUrl" -> routes.CustomerOrdersManagement.updateItemAmount().url, "orderId" -> orderId.toString)) {
    <div class="row">
        <div class="col-md-9">
            <h4>покупатель: @customerName, поставщик: @supplierName</h4>
        </div>
        <div class="col-md-2"><h4>Сумма заказа:</h4></div>
        <div class="col-md-1" id="totalCell"><h4>@currency(orderSum)</h4></div>
    </div>
    <ol class="breadcrumb">
    @for(pathGroup <- rootPath) {
        @if(pathGroup == rootPath.last) {
            <li class="active">@pathGroup.name</li>
        } else {
            <li><a href="@routes.CustomerOrdersManagement.orderItemCatalog(orderId, pathGroup.id)">@pathGroup.name</a></li>
        }
    }
    </ol>
    @if(!childGroups.isEmpty) {
        <div class="list-group">
            <div class="list-group-item-heading">Подгруппы товаров</div>
            @for(group <- childGroups) {
                <a href="@routes.CustomerOrdersManagement.orderItemCatalog(orderId, group.id)" class="list-group-item">@group.name</a>
            }
        </div>
    }
    @if(!items.isEmpty) {
        <style>
            input.item-amt {
                text-align: right;
            }
            table>tbody>tr>td.input-cell {
                padding: 1px;
                width: 12em;
            }
        </style>
        <table class="table table-hover">
            <tr>
                <th>Наименование</th>
                <th>Ед.изм.</th>
                <th>Цена</th>
                <th>Вес</th>
                <th>Объем</th>
                <th>Количество</th>
            </tr>
            @for(item <- items) {
                <tr>
                    <td>@item.item.name</td>
                    <td>@item.item.uom</td>
                    <td>@currency(item.item.price)</td>
                    <td>@quantity(item.item.weight)</td>
                    <td>@quantity(item.item.volume)</td>
                    <td class="input-cell">
                        <div class="input-group">
                            <input type="text" data-item-id="@item.orderItem.itemId" class="item-amt form-control"
                               value="@quantity(item.orderItem.quantity)">
                            <span class="input-group-btn">
                                <button data-item-id="@item.orderItem.itemId" class="btn btn-default item-amt-up" type="button">&#9650;</button>
                                <button data-item-id="@item.orderItem.itemId" class="btn btn-default item-amt-dn" type="button">&#9660;</button>
                            </span>
                        </div>
                    </td>
                </tr>
            }
        </table>
    }
    <ul class="pager">
        <li><a href="@routes.CustomerOrdersManagement.header(orderId)">Покупатель и поставщик</a></li>
        <li><a href="@routes.CustomerOrdersManagement.properties(orderId)">Реквизиты заказа</a></li>
    </ul>
}
