@(orderList: Seq[CustomerOrdersManagement.OrderListItem])(implicit ctx: AuthRequestContext)
@import views.Tools
@import tools.Formatters._
@template(title = "Список заказов", actionItems = views.html.orderListActions()) {
    <div class="table-responsive">
    <table class="table table-hover">
        <tr>
            <th>&nbsp;</th>
            <th>Дата</th>
            <th>Номер</th>
            <th>Покупатель</th>
            <th>Поставщик</th>
            <th>Дата поставки</th>
            <th>Сумма</th>
            <th>Комментарий</th>
        </tr>
        @for(order <- orderList) {
            <tr>
                <td><span class="glyphicon glyphicon-@Tools.orderStatusIcon(order.status)"></span></td>
                <td><a href="@routes.CustomerOrdersManagement.properties(order.id)">@date(order.created)</a></td>
                <td><a href="@routes.CustomerOrdersManagement.properties(order.id)">@order.number.getOrElse("---")</a></td>
                <td>@order.customer</td>
                <td>@order.supplier</td>
                <td>@date(order.shipmentDate)</td>
                <td>@currency(order.sum)</td>
                <td>@order.comment</td>
            </tr>
        }
    </table>
    </div>
}