@(order: CustomerOrdersManagement.OrderViewModel)(implicit ctx: AuthRequestContext)
@import tools.Formatters._
@import model.DocumentStatus._
@template("Состав заказа", scripts = Seq("http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js",
    routes.Assets.at("js/datepickers.js").url), styleSheets = Seq(routes.Assets.at("css/calendar.css").url)) {
    <div class="order-header">
        <table>
            <tr>
                <td>Покупатель:</td>
                <td>@order.customerName</td>
            </tr>
            <tr>
                <td>Поставщик:</td>
                <td>@order.supplierName</td>
            </tr>
        </table>
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>Наименование</th>
                <th>Ед. изм.</th>
                <th>Цена</th>
                <th>Количество</th>
                <th>Сумма</th>
                <th>Вес</th>
                <th>Объем</th>
            </tr>
            @for(orderItem <- order.items) {
                <tr>
                    <td>@orderItem.item.name</td>
                    <td>@orderItem.item.uom</td>
                    <td>@currency(orderItem.item.price)</td>
                    <td>@quantity(orderItem.orderItem.quantity)</td>
                    <td>@currency(orderItem.sum)</td>
                    <td>@quantity(orderItem.weight)</td>
                    <td>@quantity(orderItem.volume)</td>
                </tr>
            }
            <tr>
                <td>ИТОГО:</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>@currency(order.sum)</td>
                <td>@quantity(order.weight)</td>
                <td>@quantity(order.volume)</td>
            </tr>
        </table>
    </div>
    <form class="form-horizontal" action="@routes.CustomerOrdersManagement.saveProperties()" method="post">
        <input type="hidden" name="id" value="@order.header.idOpt.get">
        <div class="row">
            <div class="form-group col-md-4">
                <label for="shipmentDate" class="col-md-7 control-label">Желаемая дата отгрузки:</label>
                <div class="col-md-5">
                    <input id="shipmentDate" name="shipmentDate" class="form-control" type="date"
                    value="@date(order.header.shipmentDate)" />
                </div>
            </div>
            <div class="form-group col-md-4">
                <label for="paymentDate" class="col-md-7 control-label">Планируемая дата оплаты:</label>
                <div class="col-md-5">
                    <input id="paymentDate" name="paymentDate" class="form-control" type="date"
                    value="@date(order.header.paymentDate)" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="comment" class="col-md-1 control-label">Комментарий</label>
            <div class="col-md-10">
                <input id="comment" type="text" name="comment" class="form-control" value="@order.header.comment">
            </div>
        </div>
        <input id="commit" type="hidden" name="commit" value="">
    @if(order.header.status == InPreparation || order.header.status == Draft) {
        <ul class="pager">
            <li><a href="@routes.CustomerOrdersManagement.orderItemRootCatalog(order.header.idOpt.get)">Товары</a></li>
            <li><a href="#" onclick="$('form').submit(); return false;">Сохранить</a></li>
            <li><a href="@routes.CustomerOrdersManagement.delete(order.header.idOpt.get)">Удалить</a></li>
            <li><a href="#" onclick="$('#commit').val('true'); $('form').submit(); return false;">Отправить</a></li>
        </ul>
    }
    </form>
}