@(orderId: Int, customers: Seq[model.IdName], selectedCustomer: Int,
        suppliers: Seq[model.IdName], selectedSupplier: Int,
        suppliersByCustomers: Map[Int, List[Int]])(implicit ctx: controllers.AuthRequestContext)
@import play.api.libs.json.Json
@template("Заказ - общие реквизиты", scripts = Seq(routes.Assets.at("js/orderHeader.js").url),
    styleSheets = Seq(routes.Assets.at("css/calendar.css").url)) {
    <form class="form-horizontal" action="@routes.CustomerOrdersManagement.saveHeader()" method="post">
        <input type="hidden" name="id" value="@orderId">
        <div class="form-group">
            <label for="customer" class="col-md-2 control-label">Покупатель</label>
            <div class="col-md-4">
                @selectInput("customer", customers, selectedCustomer)
            </div>
        </div>
        <div class="form-group">
            <label for="supplier" class="col-md-2 control-label">Поставщик</label>
            <div class="col-md-4">
                @selectInput("supplier", suppliers, selectedSupplier)
            </div>
        </div>
        <ul class="pager">
            <li><a id="nextButton" href="#" onclick="$('form').submit();return false;">Товары</a></li>
        </ul>
    </form>
    <script>
        var suppliersByCustomers = @Json.obj(suppliersByCustomers.toSeq.map(entry => (entry._1.toString, Json.toJsFieldJsValueWrapper(entry._2))): _*)
    </script>
}