@(listItems: Seq[controllers.RoyaltyBillManagement.RoyaltyBillListItem])(implicit ctx: AuthRequestContext)
@import scala.math.BigDecimal.RoundingMode
@import tools.Formatters._
@import model.RoyaltyBills.FormType._
@template("Счета на роялти") {
    <style>
    .table > tbody > tr > td.print-buttons {
        padding: 1px;
    }
    </style>
    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>Начало периода</th>
                <th>Конец периода</th>
                <th>Организация</th>
                <th>Сумма продаж</th>
                <th>Сумма роялти</th>
                <th>Оплачено (%)</th>
                <th>Печать</th>
            </tr>
            @for(bill <- listItems) {
                <tr>
                    <td>@date(bill.start)</td>
                    <td>@date(bill.end)</td>
                    <td>@bill.orgUnit</td>
                    <td>@currency(bill.totalSales)</td>
                    <td>@currency(bill.royaltySum)</td>
                    <td>@{(bill.paid*100/bill.royaltySum).setScale(0, RoundingMode.FLOOR)}</td>
                    <td class="print-buttons">
                        <a href="@routes.RoyaltyBillManagement.billForm(bill.id, Inquiry.toString)" target="_blank" class="btn btn-default">
                            <span class="glyphicon glyphicon-print"></span>&nbsp;Бух.справка
                        </a>
                        <a href="@routes.RoyaltyBillManagement.billForm(bill.id, Bill.toString)" target="_blank" class="btn btn-default">
                            <span class="glyphicon glyphicon-print"></span>&nbsp;Счет
                        </a>
                        <a href="@routes.RoyaltyBillManagement.billForm(bill.id, Act.toString)" target="_blank" class="btn btn-default">
                            <span class="glyphicon glyphicon-print"></span>&nbsp;Акт
                        </a>
                        <a href="@routes.RoyaltyBillManagement.billForm(bill.id, Invoice.toString)" target="_blank" class="btn btn-default">
                            <span class="glyphicon glyphicon-print"></span>&nbsp;Счет-фактура
                        </a>
                    </td>
                </tr>
            }
        </table>
    </div>
}