@(inputName: String, values: Seq[model.IdName], selected: Int)
<select id="@inputName" name="@inputName" class="form-control">
    @for(value <- values) {
        @if(value.id == selected) {
            <option value="@value.id" selected>@value.name</option>
        } else {
            <option value="@value.id">@value.name</option>
        }
    }
</select>