@(users: Seq[model.User])(implicit ctx: AuthRequestContext)
@template(title = "Пользователи", actionItems = usersActions()) {
    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>Имя</th>
                <th>Логин</th>
            </tr>
            @for(user <- users) {
                <tr>
                    <td><a href="@routes.UsersAdmin.user(user.id)">@user.name</a></td>
                    <td>@user.login</td>
                </tr>
            }
        </table>
    </div>
}