@(user: model.User, userOrgUnits: Set[Int], userRoles: Set[model.Role], availableOrgUnits: Seq[model.OrgUnits.OrgUnit])(implicit ctx: AuthRequestContext)
@import model._
@option(value: IdName, selected: Set[Int]) = {
    @if(selected.contains(value.id)) {
        <option value="@value.id" selected>@value.name</option>
    } else {
        <option value="@value.id">@value.name</option>
    }
}
@template(if(user.idOpt == None) "Новый пользователь" else "Пользователь") {
    <style>
    li.role-selector {
        cursor: pointer;
    }
    span.role-select-icon {
        color: #ffffff;
    }
    li.role-selected>span.role-select-icon {
        color: #3C763D;
    }
    </style>
    <form class="form-horizontal" role="form" action="@routes.UsersAdmin.updateUser()" method="post">
        @if(user.idOpt != None) {
            <input type="hidden" name="id" value="@user.id"/>
        }
        <div class="form-group">
            <label for="name" class="col-md-2 control-label">Имя</label>
            <div class="col-md-4">
                <input id="name" type="text" name="name" class="form-control" placeholder="Имя"
                value="@user.name" required/>
            </div>
        </div>
        <div class="form-group">
            <label for="login" class="col-md-2 control-label">Логин</label>
            <div class="col-md-4">
                <input id="login" type="text" name="login" class="form-control" placeholder="Логин"
                value="@user.login" required/>
            </div>
        </div>
        <input id="roles" type="hidden" name="roles" value="@{
            val roleIds = userRoles.map(_.id)
            if (roleIds.isEmpty) "" else roleIds.reduce(_ + "," + _)
        }" />
        <div class="form-group">
            <label class="col-md-2 control-label">Роли пользователя</label>
            <div class="col-md-4">
            <ul class="list-group">
            @for(role <- model.Role.all) {
                <li class="list-group-item role-selector" data-role-id="@role.id">
                    <span class="glyphicon glyphicon-ok role-select-icon"></span> @role.name
                </li>
            }
            </ul>
            </div>
        </div>
        <div class="form-group">
            <label for="org_units" class="col-md-2 control-label">Доступные организации</label>
            <div class="col-md-4">
                <select multiple id="org_units" name="org_units" class="form-control" style="resize: vertical; overflow: auto;">
                    @for(ou <- availableOrgUnits) {
                        @option(ou, userOrgUnits)
                    }
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-2">
                <button class="btn btn-primary" type="submit">Cохранить</button>
            </div>
        </div>
    </form>
    @if(user.idOpt != None) {
        <br/>
        <form class="form-horizontal" role="form" action="@routes.UsersAdmin.setPassword()" method="post">
            <input type="hidden" value="@user.id" name="id"/>
            <div class="form-group">
                <label for="password" class="col-md-2 control-label">Пароль</label>
                <div class="col-md-4">
                    <input type="password" class="form-control" name="password"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-md-offset-2">
                    <button type="submit" class="btn btn-primary">Сменить пароль</button>
                </div>
            </div>
        </form>
    }
    <script>
    $(function() {
        var rolesInput = $('#roles' );
        if (rolesInput.val() != '') rolesInput.val().split(',').forEach(function(roleId) {
            $('li.role-selector[data-role-id=' + roleId + ']').addClass('role-selected');
        });
        $('li.role-selector' ).click(function(evt) {
            var el = $(evt.target);
            if (!el.attr('data-role-id')) el = $(evt.target.parentElement);
            var roleId = el.attr('data-role-id');
            var roles = rolesInput.val().split(',').filter(function(role) {
                return role != '';
            });
            if(roles.indexOf(roleId) == -1) {
                el.addClass('role-selected');
                roles.push(roleId);
            } else {
                el.removeClass('role-selected');
                roles = roles.filter(function(role) {
                    return !(role == '' || role == roleId);
                });
            }
            rolesInput.val(roles.length == 0 ? '' : roles.reduce(function(r1,r2) {
                return r1 + ',' + r2;
            }));
        });
    });
    </script>
}